Options +FollowSymLinks
RewriteEngine on

<IfModule mod_rewrite.c>
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^page/([a-zA-Z0-9]+)/? pages.php?page=$1 [L]
 RewriteRule ^archive archive.php [L] 
 RewriteRule ^profile profile.php [L] 
 RewriteRule ^user/([^/]+)/?$ user.php?user=$1 [L]
 RewriteRule ^contact contact.php [L]
 RewriteRule ^download/(.*)$  paste.php?download&id=$1 [L]
 RewriteRule ^raw/(.*)$  paste.php?raw&id=$1 [L]
 RewriteRule ^embed/(.*)$  paste.php?embed&id=$1 [L]
</IfModule>

<IfModule mod_rewrite.c>
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$  paste.php?id=$1 [L] 
</IfModule>
